<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Intelligence</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{{url_for("static", filename="css/bootstrap.css" )}}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{url_for("static", filename="css/font-awesome.css" )}}" rel="stylesheet" >
    <!-- CUSTOM STYLES-->
    <link href="{{url_for("static", filename="css/custom.css" )}}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
   <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;Sales Intelligence</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/predict">Quote</a></li>
                  </ul>
                </div>

            </div>
        </div>

        <!-- /. NAV TOP  -->
        <!-- /. NAV SIDE  -->
        <div>
            <div id="page-inner">

                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h5>Quote Transactions</h5>
                        <table class="table table-striped table-bordered table-hover">
                           <thead>

                                <tr>
                                    <th>Date Time</th>
                                    <th>Customer ID</th>
                                    <th>State</th>
                                    <th>Group Size</th>
                                    <th>Risk Factor</th>
                                    <th>Conversion Score</th>
                                    <th>Rec #1</th>
                                    <th>Rec #2</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for quote in quotes %}                               
                                <tr>
                                    <td>{{ quote.date_time }}</td>
                                    <td>{{ quote.customer_ID }}</td>
                                    <td>{{ quote.state }}</td>
                                    <td>{{ quote.group_size }}</td>
                                    <td>{{ quote.risk_factor }}</td>
                                    <td>{{ quote.conversion_score}}</td>
                                    <td>{{ quote.recommendation1}}</td>
                                    <td>{{ quote.recommendation2}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>

                   <div class="col-md-6">

                   <!--


                      
                      -->

                      <div class="row">

                        <div class="col-md-6">

                          <h5>Quotes in a Week</h5>

                            <script type="text/javascript" src="//www.google.com/jsapi"></script>
                            <script type="text/javascript">
                              google.load('visualization', '1', {packages: ['corechart']});
                            </script>
                            <script type="text/javascript">
                              function drawVisualization() {
                                // Create and populate the data table.
                                var data = google.visualization.arrayToDataTable([
                                  ['Task', 'Quotes in a day'],
                                  ['Monday', 140539],
                                  ['Tuesday', 136921],
                                  ['Wednesday', 133453],
                                  ['Thursday', 123639],
                                  ['Friday', 121342],
                                  ['Saturday', 8378 ],
                                  ['Sunday', 977]
                                ]);
                              
                                // Create and draw the visualization.
                                // Original widh: 600 and height: 400
                                new google.visualization.PieChart(document.getElementById('weekly')).
                                    draw(data, {title:"Weekly quotes"});
                              }
                              

                              google.setOnLoadCallback(drawVisualization);
                            </script>

                        <div id="weekly" style="width: 400px; height: 300px;"></div>
                      
                       </div>

                       <div class="col-md-6">

                        <h5>Conversion in a Week</h5>

                            <script type="text/javascript" src="//www.google.com/jsapi"></script>
                            <script type="text/javascript">
                              google.load('visualization', '1', {packages: ['corechart']});
                            </script>
                            <script type="text/javascript">
                              function drawVisualization() {
                                // Create and populate the data table.
                                var data = google.visualization.arrayToDataTable([
                                  ['Task', 'Quotes in a day'],
                                  ['Monday', 18583],
                                  ['Tuesday', 19244],
                                  ['Wednesday', 18825],
                                  ['Thursday', 17954],
                                  ['Friday', 20851],
                                  ['Saturday', 1433 ],
                                  ['Sunday', 140]
                                ]);
                              
                                // Create and draw the visualization.
                                new google.visualization.PieChart(document.getElementById('cweekly')).
                                    draw(data, {title:"Weekly conversion"});
                              }
                              

                              google.setOnLoadCallback(drawVisualization);
                            </script>

                          <div id="cweekly" style="width: 400px; height: 300px;"></div>

                        </div>
                        <!-- conversion in a week -->

                    </div>
                    <!-- All conversions in a row -->

                </div>
                <!-- Enable the row for animation -->

                      <div class="row">

                          <div class="col-md-6">

                            <h5>Conversion Rate</h5>
                         
                                <script type="text/javascript" src="//www.google.com/jsapi"></script>
                                <script type="text/javascript">
                                  google.load('visualization', '1', {packages: ['motionchart']});

                                  function drawVisualization() {
                                    var data = new google.visualization.DataTable();
                                    data.addColumn('string', 'Category');
                                    data.addColumn('date', 'Date');
                                    data.addColumn('number', 'Created');
                                    data.addColumn('number', 'Cost');
                                    data.addRows([
                                      ['Quotes',  new Date (2014,6,14), 1000, 300],
                                      ['Conversion', new Date (2014,6,14), 300,  250],
                                      ['Quotes',  new Date (2014,6,20), 1200, 400],
                                      ['Conversion', new Date (2014,6,20), 788,  617]
                                       ]);
                                  
                                    var motionchart = new google.visualization.MotionChart(
                                        document.getElementById('conversion'));
                                    motionchart.draw(data, {'width': 600, 'height': 400});
                                  }
                                  

                                  google.setOnLoadCallback(drawVisualization);
                                </script>

                            <div id="conversion" style="width: 600px; height: 400px;"></div>
                        </div>
                    </div>





                </div>

                <hr />

                <script>
                      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                      ga('create', 'UA-53156593-1', 'auto');
                      ga('send', 'pageview');

                </script>
                <div class="row">
                    <div class="col-md-6">
                      <h5>Customer Quotes</h5>
                    <script type="text/javascript" src="//www.google.com/jsapi"></script>
                      <script type="text/javascript">
                        google.load('visualization', '1', {packages: ['geomap']});

                         
                        function drawVisualization() {
                          var data = google.visualization.arrayToDataTable([
                            ['State', 'Quotes'],
                            ['US-WA', 25188],
                            ['US-DE', 4101],
                            ['US-DC', 3748],
                            ['US-WI', 10103],
                            ['US-WV', 5053],
                            ['US-FL', 106287],
                            ['US-WY', 1163],
                            ['US-NH', 7988],
                            ['US-NM', 6790],
                            ['US-ND', 2487],
                            ['US-NE', 3121],
                            ['US-TN', 18099],
                            ['US-NY', 91627],
                            ['US-PA', 60677],
                            ['US-RI', 5887],
                            ['US-NV', 15459],
                            ['US-CO', 24409],
                            ['US-AL', 23560],
                            ['US-AR', 10460],
                            ['US-GA', 8802],
                            ['US-IN', 25295],
                            ['US-IA', 4545],
                            ['US-ID', 6110],
                            ['US-CT', 19353],
                            ['US-ME', 6800],
                            ['US-MD', 28443],
                            ['US-OK', 13779],
                            ['US-OH', 44537],
                            ['US-UT', 14820],
                            ['US-MO', 15243],
                            ['US-KS', 5585],
                            ['US-MT', 3332],
                            ['US-MS', 10722],
                            ['US-KY', 16100],
                            ['US-OR', 15068],
                            ['US-SD', 508]
                          ]);
                         
                          var geochart = new google.visualization.GeoChart(
                              document.getElementById('visualization1'));
                          geochart.draw(data, {width: 556, height: 347, region: "US", resolution: "provinces"});
                        }

                        google.setOnLoadCallback(drawVisualization);
                      </script>
                      <div id="visualization1" style="width: 800px; height: 400px;"></div>
               </div>
               <div class="col-md-6">
                    <h5>Quote Conversion</h5>
                      <script type="text/javascript">
                        google.load('visualization', '1', {packages: ['geomap']});

                         
                        function drawVisualization() {
                          var data = google.visualization.arrayToDataTable([
                            ['State', 'Conversion'],
                            ['US-WA', 14.19],
                            ['US-DE', 14.56],
                            ['US-DC', 14.41],
                            ['US-WI', 15.31],
                            ['US-WV', 15.44],
                            ['US-FL', 13.74],
                            ['US-WY', 14.27],
                            ['US-NH', 14.22],
                            ['US-NM', 14.73],
                            ['US-ND', 15.36],
                            ['US-NE', 15.7],
                            ['US-TN', 14.66],
                            ['US-NY', 14.91],
                            ['US-PA', 14.76],
                            ['US-RI', 14.91],
                            ['US-NV', 13.73],
                            ['US-CO', 14.5],
                            ['US-AL', 15.26],
                            ['US-AR', 15.0],
                            ['US-GA', 14.43],
                            ['US-IN', 14.82],
                            ['US-IA', 15.16],
                            ['US-ID', 14.57],
                            ['US-CT', 14.65],
                            ['US-ME', 14.87],
                            ['US-MD', 14.84],
                            ['US-OK', 14.68],
                            ['US-OH', 14.96],
                            ['US-UT', 14.18],
                            ['US-MO', 14.47],
                            ['US-KS', 15.38],
                            ['US-MT', 14.32],
                            ['US-MS', 14.61],
                            ['US-KY', 14.71],
                            ['US-OR', 14.63],
                            ['US-SD', 16.14]
                          ]);
                         
                          var geochart = new google.visualization.GeoChart(
                              document.getElementById('conversion_heatmap'));
                          geochart.draw(data, {width: 556, height: 347, region: "US", resolution: "provinces"});
                        }

                        google.setOnLoadCallback(drawVisualization);
                      </script>
                    <div id="conversion_heatmap" style="width: 800px; height: 400px;"></div>
                </div>
                <!-- column -->
              </div>
              <!-- Heatmap Row -->


                <!-- /. ROW  -->
                <hr />
                  <div class="row">
                    <div class="col-md-12">
                        <h5>Sales Intelligence</h5>
                        Sales Intelligence platform for predicting the Sales Conversion and upselling

                    </div>
                </div>
                <!-- /. ROW  -->
 

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS --> 
    <script src="{{url_for("static", filename="js/jquery-1.10.2.js" )}} "></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{url_for("static", filename="js/bootstrap.min.js" )}} "></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{url_for("static", filename="js/jquery.metisMenu.js" )}} "></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{url_for("static", filename="js/custom.js" )}}" ></script>


</body>
</html>
